\#*
.#*
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virthualenv
*~
.hsenv_*
dist_*
history
TAGS
.diagrams-cache
/cabal.sandbox.config
/.cabal-sandbox/
test/images
test/*.html
/test/.cabal-sandbox
.stack-work/
stack.yaml.lock
